* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(175, 89, 255);
  width: 100%;
  height: 100%;
}
/*HEADER*/
header {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  height: 7%;
  width: 100%;
}
header nav {
  width: 50%;
  height: 7%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
}
li:hover {
  background-color: rgb(241, 14, 90);
  cursor: pointer;
}
a {
  text-decoration: none;
}
/*MAIN*/
main {
  display: flex;
  flex-wrap: wrap;
  height: 84%;
  width: 100%;
}
.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}
.one {
  background-color: #ef6b68;
  width: 50%;
}
.one h3 {
  color: white;
}
.one p {
  color: white;
}
img {
  border-radius: 50%;
  margin-left: 20%;
  border: 5px solid white;
  width: 40%;
}
.two {
  background-color: #1f233e;
  width: 50%;
}
.two h3 {
  color: #ef6b68;
}
.two p {
  color: #ef6b68;
}

p {
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
}
h3 {
  font-family: Work Sans, sans-serif;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 0.6px;
  text-align: center;
}
