* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    background: #7729e4;
}
.nav {
    text-align: center
}
.menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: #0d0d0e;
    display: inline-block;
    padding: 10px 20px;
}
.menu li {
    display: inline;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.inscription {
    font-size: 2em;
    letter-spacing: .4em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}
section { 
    display: grid;
    margin-top: 1em;
    font-size: 1rem;
    padding: 1px;
    font-weight: 700;
    font: italic 1.2em "Fira Sans", serif;
}
pre {
    background: #a854d8;
    color: #f5f6f5;
    font: caption;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #f5f2f2;
    background-color: #230234;
  }
  
footer a {
    text-decoration: none;
    color: #f8f4f4;
  }
  
footer .github-icon {
    margin-right: 10px;
  }
  
.my-github {
    display: flex;
    align-items: center;
  }
