@media screen and (max-width: 800px) {
  .nav {
    list-style-type: none;
    font-family: Work Sans, sans-serif;
    font-size: calc(3px + (17 - 3) * ((100vw - 320px) / (800 - 320)));
    font-weight: 200;
    padding: 10px;
  }
  h1 {
    font-family: Work Sans, sans-serif;
    font-size: calc(10px + (28 - 10) * ((100vw - 320px) / (800 - 320)));
    font-weight: 200;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
  }
  .p {
    color: white;
    list-style-type: none;
    font-family: Work Sans, sans-serif;
    font-size: calc(5px + (18 - 5) * ((100vw - 320px) / (800 - 320)));
    font-weight: 200;
    padding: 10px;
  }
  p {
    font-family: Work Sans, sans-serif;
    font-size: calc(5px + (18 - 5) * ((100vw - 320px) / (800 - 320)));
    font-weight: 200;
    padding: 10px;
  }
  h2 {
    font-family: Work Sans, sans-serif;
    font-size: calc(8px + (25 - 8) * ((100vw - 320px) / (800 - 320)));
    font-weight: 200;
    letter-spacing: 0.6px;
    text-align: center;
  }
  code {
    font-size: calc(5px + (16 - 5) * ((100vw - 320px) / (800 - 320)));
    color: white;
  }
  footer p {
    color: #1f233e;
    font-family: Work Sans, sans-serif;
    font-size: calc(5px + (18 - 5) * ((100vw - 320px) / (800 - 320)));
    font-weight: 800;
  }
  .logoRS {
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 10px;
    width: calc(50px + (100 - 50) * ((100vw - 320px) / (800 - 320)));
  }
  .git {
    width: calc(55px + (110 - 55) * ((100vw - 320px) / (800 - 320)));
    height: calc(16px + (32 - 16) * ((100vw - 320px) / (800 - 320)));
  }
}
